{% extends 'library/layout.html' %}

{% block title  %}
    change password
{% endblock %}

{% block body %}
    {% if error_message %}
      <div style="text-align: center;">
        <h2 style="margin: auto;">{{error_message}}</h2> 
      </div>
    {% endif %} 

    {% if message %}
        <div style="text-align: center;">
            <h2 style="margin: auto;">{{message}}</h2>
        </div>
    {% endif %} 
    

    <div class="signup-box">
        <div class="form_">
         <div class="field"><h2>Enter new password</h2></div> 
          <form method="post" action="{% url 'changepassword' %}">
            {% csrf_token %}
            {% if username %}
               <input type="hidden" name="username" value="{{username}}">
            {% endif %}
            {% for field in form %}
              <p>
               <div class="field">
                 {{ field.label_tag }}<br>
                 {{ field }}
               </div>
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <div class="field">
            <button type="submit">submit</button>
            </div>
          </form>
        </div>
      </div>
{% endblock %}