{% extends 'library/layout.html' %}

{% block title  %}
    forgot password
{% endblock %}

{% block body %}
    <div style="text-align: center;"> 
         <h3 style="margin: auto;">Don't worry, just enter your mobile number and username</h3>
    </div>

    <div class="signup-box">
        <div class="form_">
         <div class="field"><h2>Profile</h2></div> 
          <form method="post" action="{% url 'send_otp' %}">
            {% csrf_token %}
            {% for field in form %}
              <p>
               <div class="field">
                 {{ field.label_tag }}<br>
                 {{ field }}
               </div>
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <div class="field">
            <button type="submit">submit</button>
            </div>
          </form>
        </div>
      </div>
    
{% endblock %}